.main_agency {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    background-color: #2f434c;
}

.agency_section {
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding-left: 5%;
    padding-top: 5%;
    position: absolute;
    top: 0px;
    background-color: #fff;
    transform: scale(0);
    transform-origin:  center;
    overflow-y: visible;
}

.agency_title {
    color: #000 !important;
    font-size: 3rem;
    text-transform: uppercase;
    margin-left: 5%;
}

.agency_description {
    margin-left: 5%;
    max-width: 50%;
    /* background-color: pink; */
    font-size: 2.6rem;
}

@media (max-width: 450px) {
    .main_agency {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .agency_section {
        max-width: 100%;
        height: auto;
        overflow-x: hidden;
        padding-left: 5%;
        padding-top: 5%;
        position: absolute;
        top: 0px;
        background-color: #fff;
        transform: scale(0);
        transform-origin:  center;
        /* background-color: pink; */
    }

    .agency_title {
        color: #000;
        margin: 0;
        font-size: 2rem;
        letter-spacing: unset;
        
    }

    .agency_description {
        font-size: 1.2rem;
        min-width: 80%;
        line-height: 2rem;
    }
}