.main_project_section {
    position: absolute;
    top: 0;
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
}

.main_project_section > .project_section > .project_section_cards_row1 {
    width: 100%;
    margin: 0;
    margin: 12px 0;
    padding: 0%;
}

.main_project_section > .project_section > .project_section_cards_row1 > .project_card {
    width: 33%;
    margin: 12px;
}

.project_section {
    width: 100%;
    height: 100vh ;
    padding: 0;
}

.project_section_cards_row1 {
    width: 90%;
    height: 50%;

    margin-left: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    padding: 0;
}

.project_card {
    height: 100%;
    width: 34%;
    overflow: hidden;
    z-index: 20;
    margin: 0;
    flex-shrink: 1;
}

.project_card1 > .project_img {
    background-image: url("assets/chanel.jpg");
}

.project_card2 > .project_img {
    background-image: url("assets/coca-cola.jpg");
}

.project_card3 > .project_img {
    background-image: url("assets/nike.jpeg");
}

.project_img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform-origin: center center;
    transition: all ease 400ms;
}

.project_img:hover {
    transform: scale(1.9);
}

.go_to_project_btn {
    text-decoration: none;
    color: white;
    height: auto;
    width: auto;
    background-color: #000;
    padding: 18px 40px;
    position: relative;
    top: -60px;
    /* left: -10px; */
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.project_title {
    margin-left: 0;
    letter-spacing:unset;
    color: #000 !important;
    font-size: 1.6rem;
    font-weight: bolder !important;
    margin-top: -5px;
    /* text-transform: none; */
}

.project_description {
    width: 75%;
    line-height: 1.3rem;
    margin-top: -15px;
    font-size: 1.1rem;
}

.main_project_section {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .main_project_section {
        width: 100%;
        /* height: 50vh; */
        background-color: #fff;
    }

    .main_project_section > .project_section {
        padding-bottom: 4vh;
    }

    .project_section {
        height: 50vh;
    }
}

@media only screen and (max-width: 500px) {

    .main_project_section {
        width: 100%;
    }

    .main_project_section > .project_section > .project_section_cards_row1 > .project_card {
        width: 90%;
        margin: 14px 5%;
    }

    .project_section{
        min-height: 320vh;
        padding: 5vh 0vh;
    }
    .project_section_cards_row1 {
        flex-direction: column;
        width: 100%;
        min-height: 120vh;
        margin: 0;
    }

    .project_card {
        width: 90%;
        margin: 12px 5%;
        min-height: 50vh;
    }

    .project_card1:nth-child(2) {
        margin-bottom: 30px;
    }
}