.project_header_title {
    transform: rotateZ(-90deg);
    transition: all 0ms;
    transform-origin: center center;
    position: absolute;
    left: -10%;
    margin-top: 30%;
    font-weight: lighter;
    font-size: 2.2rem;
}

.project_section {
    width: 100%;
    height: 120vh;
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 5vh 0vh;
    flex-wrap: wrap;
    /* background-color: red; */
}
.project_card {
    /* background-color: yellowgreen;  */
    min-height: 50vh;
    width: 26%;
    margin: 7vh 0vh;
    overflow: hidden;
    z-index: 20;
}

.project_card1 > .project_img {
    background-image: url("assets/chanel.jpg");
}

.project_card2 > .project_img {
    background-image: url("assets/coca-cola.jpg");
}

.project_card3 > .project_img {
    background-image: url("assets/nike.jpeg");
}

.project_img {
    width: 100%;
    height: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform-origin: top center;
    transition: all ease 400ms;
}

.project_img:hover {
    transform: scale(1.9);
}

.go_to_project_btn {
    text-decoration: none;
    color: white;
    height: auto;
    width: auto;
    background-color: #000;
    padding: 18px 40px;
    position: relative;
    top: -60px;
    /* left: -10px; */
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.project_title {
    margin-left: 0;
    letter-spacing:unset;
    color: #000 !important;
    font-size: 1.6rem;
    font-weight: bolder !important;
    margin-top: -5px;
    /* text-transform: none; */
}

.project_description {
    /*background-color: pink; */
    width: 75%;
    line-height: 1.3rem;
    margin-top: -15px;
    font-size: 1.1rem;
}

.main_project_section {
    display: none;
}

@media (max-width: 450px) {
    .project_header_title {
        font-size: 2rem;
        margin-left: -45%;
        top: 160vh;
        /* background-color: red; */
        letter-spacing: 0.1rem;
    }
    .project_section {
        width: 100%;
        height: auto;
        margin-bottom: 8vh;
        /* padding-bottom: 0; */
        padding-left: 0%;
    }

    .project_card {
        /* background-color: red; */
        min-height: 50vh;
        width: 80%;
        padding-bottom: 3vh;
        margin: 7vh 0vh;
        margin-left: -5% !important;;
    }

    .project_img {
        width: 100%;
        height: 200px;
    }

    .project_img:hover {
        transform: scale(1.2);
    }

    .go_to_project_btn {
        text-decoration: none;
        color: white;
        height: auto;
        width: auto;
        background-color: #000;
        padding: 18px 40px;
        position: relative;
        top: -60px;
        /* left: -10px; */
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
    }

    .project_title {
        margin-left: 0;
        letter-spacing:unset;
        color: #000;
        font-size: 1.6rem;
        font-weight: bolder !important;
        margin-top: 0px;
        /* text-transform: none; */
    }

    .project_description {
        /* background-color: #eee; */
        width: 80%;
        line-height: 1.4rem;
        margin-top: -10px;
    }

    .main_project_section {
        margin-left: 5%;
        display: none;
    }
}
