@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('./Agencystyle.css');
@import url('./Projectstyle.css');

body {
    margin: 0;
    padding: 0;
    max-width: 100vw !important;
    /* max-height: 100vh; */
    overflow-x: hidden !important;
}

.title {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
    /* letter-spacing: 1rem; */
}

nav {
    height: 20px;
    display: none;
}

p, h2, h3, h4, ul {
    font-family: 'Montserrat', sans-serif !important;
}

ul {
    list-style: none;
}

.main {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;

    cursor: pointer;
}



.main_lower_row {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 50%);
}

.main_work {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: #ec1358;
    width: 100%;
    height: 100%;
}

.main_work > h1 {
    color: #86002b;
}

.main_about {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    background-color: #5ebfea;
    width: 100%;
    height: 100%;
}

.main_about > h1 {
    color: #00547a;
}

.agency_transitioner {
    height: 100vh;
    width: 100vw;
    background-color: #2ed8b1;
    z-index: 200;
    position: absolute;
    top: 0;
    right: -100%;
    display: none;
}

.client_section {
    width: 90%;
    float: right;
    /* background-color: pink; */
    padding: 4vh 0vh;
    display: none;
}

.client_title {
    color: #ec1358;
    letter-spacing: unset;
    font-size: 2rem;
}

.client_container  {
    /* background-color: teal; */
    height: 50vh;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 5%;
    overflow-x: scroll;
}

.client_container > img {
    height: 80%;
    width: auto;
    margin: 0 5%;
}

.footer_section {
    height: 35vh;
    width: 100%;
    padding-top: 10%;
    /* background-color: yellowgreen; */
    /* position: relative;
    top: 60vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* display: none; */
}

.footer_card {
    /* background-color: teal; */
    width: 30%;
}

.footer_card > ul > li {
    margin: 10px 0px;
}

.about_section {
    display: none;
}

@media (max-width: 450px) {
    body {
        /* max-height: 100vh !important; */
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    
    .title {
        font-size: 1rem;
        margin-left: 5%;
        letter-spacing: 0.8rem;
    }

    .description {
        /* background-color: pink; */
        width: 90%;
        line-height: 1.3rem;
    }

    .main {
        width: 100%;
        height: 100vh;
        width: 100vw;
        overflow: hidden !important;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
    }

    

    .main_lower_row {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        grid-template-rows: 100%;
        grid-template-columns: repeat(2, 50%);
    }

    .main_work {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }

    .main_about {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
    }

    

    .client_section {
        width: 95%;
        /* background-color: pink; */
        padding: 4vh 0vh;
    }
    .client_title {
        color: #ec1358;
        letter-spacing: unset;
        font-size: 2rem;
    }

    .client_container  {
        /* background-color: teal; */
        height: 50vh;
    }

    .footer_section {
        height: 70vh;
        width: 95%;
        /* background-color: yellowgreen; */
        /* display: block; */
        position: relative;
        margin-top: -2%;
        flex-direction: column;
        justify-content: center;
    }

    .footer_card {
        background-color: #fff;
        width: 80%;
        margin: 20px 0px;
    }

    .about_section {
        display: none;
    }
}
